{% extends 'layout.html' %}
{% block content %}
<form action="/resistence" method="post">
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        <div class="row">
            <select name="band1" id="band1">
                <option value="N/A" selected disabled>--Selected One--</option>
                <option value="Negro">Negro</option>
                <option value="Cafe">Café</option>
                <option value="Rojo">Rojo</option>
                <option value="Naranja">Naranja</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Verde">Verde</option>
                <option value="Azul">Azul</option>
                <option value="Violeta">Violeta</option>
                <option value="Gris">Gris</option>
                <option value="Blanco">Blanco</option>
            </select>
        </div>
        <br>
        <div class="row">
            <select name="band2" id="band2">
                <option value="N/A" selected disabled>--Selected One--</option>
                <option value="Negro">Negro</option>
                <option value="Cafe">Café</option>
                <option value="Rojo">Rojo</option>
                <option value="Naranja">Naranja</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Verde">Verde</option>
                <option value="Azul">Azul</option>
                <option value="Violeta">Violeta</option>
                <option value="Gris">Gris</option>
                <option value="Blanco">Blanco</option>
            </select>
        </div>
        <br>
        <div class="row">
            <select name="band3" id="band3">
                <option value="N/A" selected disabled>--Selected One--</option>
                <option value="Negro">Negro</option>
                <option value="Café">Café</option>
                <option value="Rojo">Rojo</option>
                <option value="Naranja">Naranja</option>
                <option value="Amarillo">Amarillo</option>
                <option value="Verde">Verde</option>
                <option value="Azul">Azul</option>
                <option value="Violeta">Violeta</option>
                <option value="Gris">Gris</option>
                <option value="Blanco">Blanco</option>
            </select>
        </div>
        <br>
        <div class="row">
            <select name="band4" id="band4">
                <option value="N/A" selected disabled>--Selected One--</option>
                <option value="Rojo">Rojo</option>
                <option value="Dorado">Dorado</option>
                <option value="Plata">Plata</option>
            </select>
        </div>
        <br>
        <input type="submit" value="Calcular" class="btn btn-success" id="btnFormulario" name="btnFormulario">
        <br>
        <br>
        <input type="submit" value="Mostrar Historial" class="btn btn-primary" id="btnFormulario" name="btnFormulario">
    </div>
</form>
<div class="row" {{ocultar_elemento}}>
    <table>
        <tr>
            <td>
                Banda 1
            </td>
            <td>
                Banda 2
            </td>
            <td>
                Banda 3
            </td>
            <td>
                Banda 4
            </td>
            <td>
                Total
            </td>
            <td>
                Minimo Valor
            </td>
            <td>
                Maximo Valor
            </td>
        </tr>
        {%from '_macros.html' import cellValues%}
        {%for i in table_value_resistance%}
        {{cellValues(i.band1, i.band2, i.band3, i.band4, i.total, i.minValue, i.maxValue)}}
        {%endfor%}
    </table>
</div>

{%if tabla_extra%}
<div class="{{ocultarTabla}}">
    <table class="table">
        <tr>
            <td>
                Banda 1
            </td>
            <td>
                Banda 2
            </td>
            <td>
                Banda 3
            </td>
            <td>
                Banda 4
            </td>
            <td>
                Total
            </td>
            <td>
                Minimo Valor
            </td>
            <td>
                Maximo Valor
            </td>
        </tr>
        {%from '_macros.html' import cellValues%}
        {%for i in tabla_extra%}
        {{cellValues(i.band1, i.band2, i.band3, i.band4, i.total, i.minValue, i.maxValue)}}
        {%endfor%}
    </table>
</div>
{%endif%}
{% endblock %}